SECRET_KEY=i-am-secret
DEBUG=True
HOSTNAME=indexer.example.com
POSTGRES_DB=django_evm_indexer
POSTGRES_USER=django_evm_indexer
POSTGRES_PASSWORD=qwerty12
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=admin

# This env is used only for debugging an indexer, it is not a necessary env for Django server
INDEXER_NAME=polygon-usdt-indexer
