INDEXER_NAME=polygon-usdt-indexer
POSTGRES_DB=django_evm_indexer
POSTGRES_USER=django_evm_indexer
POSTGRES_PASSWORD=qwerty12
POSTGRES_HOST=localhost
POSTGRES_POST=5432
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=admin