<!--suppress CssUnusedSymbol -->
<style>
    .centered {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    div.row {
        display: flex;
    }

    div.column {
        flex: 50%;
    }

    div.table {
        margin-left: 50pt;
        margin-right: 50pt;
    }

    .title {
        text-transform: uppercase;
        color: var(--evm-indexer-body-fg);
        font-family: var(--evm-indexer-monospace-font);
        font-weight: lighter;
    }

    .text {
        font-family: var(--evm-indexer-primary-font);
        color: var(--evm-indexer-body-fg);
        font-size: medium;
    }

    .big-text {
        font-size: larger;
    }

    .address {
        font-family: var(--evm-indexer-monospace-font);
        font-weight: lighter;
        color: var(--evm-indexer-quiet-color);
    }

    .transfer {
        font-family: var(--evm-indexer-monospace-font);
        font-weight: lighter;
        font-size: 9pt;
        color: var(--evm-indexer-quiet-color);
        margin-top: 0;
        margin-left: 0;
    }

    .quiet {
        font-family: var(--evm-indexer-monospace-font) !important;
        color: var(--evm-indexer-body-fg);
    }


</style>