<html lang="en">
<head>
    <title>Explorer</title>
    {% block extrahead %}
        {% include "admin/evm_indexer.style-template.html" %}
        {% include "explorer/explorer.style-template.html" %}
    {% endblock %}
</head>
<body>
{% include "explorer/topbar.html" %}
{% include "explorer/searchbar.html" %}
<div class="table">
    <div class="row" style="margin-top: 50pt">
        <div class="column">
            {% if last_transfers %}
                <h2 class="title centered">Latest transfers</h2>
                {% for transfer in last_transfers %}
                    <div class="transfer">
                        <a href={% url 'explorer_tx' tx=transfer.tx_hash %}>{{ transfer.shorten_tx_hash }}</a>
                        <small class="quiet">On {{ transfer.token_instance.network.name }}</small>
                        <p class="address">{{ transfer.sender }} &rarr; {{ transfer.recipient }} </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="column">
            {% if networks %}
                <h2 class="title centered">Networks</h2>
                <div style="min-height: 100pt">
                    {% for network in networks %}
                        <h2><a href="{% url 'explorer_network' chain_id=network.chain_id %}"
                           class="title">{{ network.name }}</a></h2>
                    {% endfor %}

                </div>
            {% endif %}
            {% if metrics %}
                <h2 class="title centered">Metrics</h2>
                {% for key, value in metrics.items %}
                    <p class="title" style="margin-top: 0">{{ key }}: {{ value }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
