<html lang="en">
<head>
    <title>Holder {{ address }}</title>
    {% block extrahead %}
        {% include "admin/evm_indexer.style-template.html" %}
        {% include "explorer/explorer.style-template.html" %}
    {% endblock %}

</head>
<body>
{% include "explorer/topbar.html" %}
{% include "explorer/searchbar.html" %}
<div class="table">
    <h1 class="title">Holder <span class="address">{{ address }}</span></h1>
    {% for network, tokens in balances.items %}
        <h1 class="title">Balances on {{ network }}</h1>
        {% for token_address, balances in tokens.items %}
            <div class="row">
                <div class="column">
                    <p class="title">{{ balances.token_name }} {% if token_address %}{{ token_address }}{% endif %}
                        ({{ balances.token_type }})</p>
                </div>
                <div class="column">
                    <div>
                        <p class="address text big-text"> {{ balances.balance }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

</body>
</html>
