<html lang="en">
<head>
    <title>Transaction {{ tx_hash }}</title>
    {% block extrahead %}
        {% include "admin/evm_indexer.style-template.html" %}
        {% include "explorer/explorer.style-template.html" %}
    {% endblock %}

</head>
<body>
{% include "explorer/topbar.html" %}
{% include "explorer/searchbar.html" %}

<div class="table">
    <h1 class="title">Transaction </h1>
    <h3 class="title">{{ tx_hash }}  {% if network.explorer_url %}
        <a href="{{ network.explorer_url }}/tx/{{ tx_hash }}">View</a>{% endif %}</h3>
    <div class="row">
        <div class="column">
            <h2 class="title">Network</h2>
        </div>
        <div class="column">
            <div>
                <p class="text big-text"> {{ network.name }} (Chain
                    {{ network.chain_id }}) </p>
            </div>
        </div>
    </div>
    <h2 class="title">Transferred tokens</h2>
    {% for transfer in transfers %}
        <div class="row">
            <div class="column">
                <p class="text big-text"> {{ transfer.token_instance.name }} <span
                        class="address"> {{ transfer.token_instance.address }}</span><br>
                    <a href="{% url 'explorer_token' token_id=transfer.token_instance.id %}">EXPLORER</a>
                    {% if network.explorer_url %}
                        <a href="{{ transfer.token_instance.network.explorer_url }}/address/{{ transfer.token_instance.address }}">NETWORK</a>{% endif %}
                </p>
            </div>
            <div class="column">
                <div>
                    <p class="text big-text"> Sent from </p>
                    <p class="address">{{ transfer.sender }}
                        <a href="{% url 'explorer_holder' address=transfer.sender %}">EXPLORER</a>
                        {% if network.explorer_url %}
                            <a href="{{ transfer.token_instance.network.explorer_url }}/address/{{ transfer.sender }}">NETWORK</a>{% endif %}
                    </p>
                    <p class="text big-text"> to </p>
                    <p class="address"> {{ transfer.recipient }}
                        <a href="{% url 'explorer_holder' address=transfer.recipient %}">EXPLORER</a>
                        {% if network.explorer_url %}
                            <a href="{{ transfer.token_instance.network.explorer_url }}/address/{{ transfer.recipient }}">NETWORK</a>{% endif %}
                    </p>
                    <p class="text big-text">{{ transfer.pretty_transfer }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

</div>

</body>
</html>
